@font-face {
    font-family: SpeziaWide;
    src: url(fonts/SpeziaWide-Bold.otf);
  }

@font-face {
    font-family: SpeziaThin;
    src: url(fonts/SpeziaCompleteUprightTrial.woff);
}


@font-face {
    font-family: Roboto-Black;
    src: url(fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-BlackItalic;
    src: url(fonts/roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(fonts/roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(fonts/roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(fonts/roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url(fonts/roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(fonts/roboto/Roboto-ThinItalic.ttf);
}


.narrativeBox,.narrativeDrawings{
    width: 100%;
    height: auto;
    /* border: 3px solid tomato; */
    transition: 0.5s ease-in-out;
    display: none;
    /* position: absolute; */
    /* z-index: 5; */
    opacity: 0;


}

.narrativeTextBox{
  width: 100%;
  height: auto;
  border: 3px solid tomato;
  transition: 0.5s ease-in-out;
  display: none;
  opacity: 1;
  pointer-events: none;
}