/* fonts */

@font-face {
    font-family: SpeziaWide;
    src: url(/styles/fonts/SpeziaWide-Bold.otf);
  }

@font-face {
    font-family: SpeziaThin;
    src: url(/styles/fonts/SpeziaCompleteUprightTrial.woff);
    
}

@keyframes glow {
    0% {
        color: white;
    }
    25% {
        color: rgba(255, 255, 255, 0);
    }
    50% {
        color: rgba(255, 255, 255, 0);
    }
    100% {
        color: white;
    }
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{color: rgba(255,255,255,.75);}
    to{color: transparent;}
  }

body {
    /* border: 1px solid white; */
    height:100vh;
    width: 100vw;;
    margin: 0; 
    overflow: hidden; 
    fill:black; 
    background: black;
}


#narrativeContainer{
    position: absolute;
    /* border: 3px solid red; */
    margin-top: 40vh;
    margin-left: 5%;
    width: 20%;
    /* border: 1px solid white; */
    /* height: 100vh; */
}

#narrativeContainer > *{
    pointer-events: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


#narrativeText{
    font-family: SpeziaWide;
    font-size: 3.25rem;
    line-height: 3.25rem;
    color: white;
    transition: 0.25s ease-in-out;
}

#flare{
    font-family: SpeziaThin;
    font-size: 3.25rem;
    line-height: 3.25rem;
    color: white;
    animation: normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

#subText {
    font-family: SpeziaWide;
    font-size: 1rem;
    line-height: 1.4rem;
    padding-top: 0.25rem;
    padding-left: 0.125rem;
    color: white;
    transition: 0.25s ease-in-out;
}

#description{
    font-family: SpeziaWide;
    color: white;
    transition: 0.25s ease-in-out;
}

#narrativeImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-image: url("./pages/img/placeholder.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.5s ease-in-out;
    opacity: 1;
}

#btnContainer {
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    align-items: center;
    z-index: 3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin-left: 5%; */
    /* border: 3px solid red; */
}

.btn {
    color: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2em;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
    transition: 0.25s linear;
    text-align: center;
    width: auto;
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: SpeziaWide;
    transition: 0.5s;
    padding-left: 1vw;
    padding-right: 1vw;
    /* border: 3px solid white; */
    opacity: 0;
}

.info{
    /* color: white; */
    font-size: 2em;
    /* line-height: 0.25em; */
    transition: 0.25s linear;
    /* padding-right: 5vw;
    padding-left: 5vw; */
    text-align: center;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: SpeziaWide;
    transition: 0.5s;
    /* display: none; */
}

.flash{
    animation: glow 5s infinite normal;
}

.nav{
    color: white;
    transition: 0.5s;
}



.progress {
    background-color: none;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}

.halo{
    width: 40vh;
    height: 40vh;
    position: absolute;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
}

.back{
    background-color: rgb(151, 205, 234);
    z-index: -1;
    filter: blur(4vw);
}

